<!DOCTYPE html>
<html>
    <head>
		<title>LINE Pay Pre Approved API Result</title>
    </head>
    <body>
		<dl>
			<dt>transactionId</dt>
			<dd>{{ result.info.transactionId }}</dd>
			<dt>regKey Check Return Code</dt>
			<dd>{{ result.regKeyCheckReturnCode }}</dd>
			<dt>regKey Check Return Message</dt>
			<dd>{{ result.regKeyCheckReturnMessage }}</dd>
			<dt>Access to below link to capture your pre-approved payment</dt>
			<dd>
				<a href="/capture" rel="noopener noreferrer">CAPTURE</a>
			</dd>
		</dl>
    </body>
</html>