<!DOCTYPE html>
<html>
    <head>
		<title>LINE Pay Confirm API Result</title>
    </head>
    <body>
		<dl>
			<dt>orderId</dt>
			<dd>{{ result.info.orderId }}</dd>
			<dt>transactionId</dt>
			<dd>{{ result.info.transactionId }}</dd>
			<dt>product name</dt>
			<dd>{{ result.info.packages[0].products[0].name }}</dd>
			<dt>price</dt>
			<dd>{{ result.info.packages[0].products[0].price }}</dd>
			<dt>Payment Status Check Return Code</dt>
			<dd>{{ result.paymentStatusCheckReturnCode }}</dd>
			<dt>Payment Status Check Return Message</dt>
			<dd>{{ result.paymentStatusCheckReturnMessage }}</dd>
			<dt>Access to below link to refund your payment</dt>
			<dd>
				<a href="/refund" rel="noopener noreferrer">REFUND</a>
			</dd>
		</dl>
    </body>
</html>